.butns {
  margin: 1em 0 0 1em;
}

h4 {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.bac {
text-align: center;

}

label {
  font-size: 1.5em;
  color: black;
}

select {
  height: 1.8em;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}